@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="offset-4 col-md-4" style="padding:10px;">
    <div class="card-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
