@model List<AgreementManagement.Web.Models.AgreementViewModel>
@{
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="~/js/customerDatatable.js"></script>
@*OVO SU PUTANJE DA SE UCITA jQuery validation*@
@*<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>*@

<div class="container">
    <div class="row" style="margin-bottom:15px;">
        <div class="col-4">
            <div class="toast" id="toastLogin" role="alert" aria-live="assertive" aria-atomic="true" style="background-color:lightgreen">
                <div class="toast-body">
                    <strong>You have successfully logged in!</strong>
                </div>
            </div>
        </div>
        <div class="offset-4 col-4" style="text-align:right">
            <button type="button" class="btn btn-success" data-toggle="modal" onclick="showModal()">New Agreement</button>
        </div>
    </div>
    <table class="table table-hover" id="agreementTable">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">Username</th>
                <th style="text-align:center">Product Group Code</th>
                <th style="text-align:center">Group Description</th>
                <th style="text-align:center">Product Number</th>
                <th style="text-align:center">Product Description</th>
                <th style="text-align:center">Effective Date</th>
                <th style="text-align:center">Expiration Date</th>
                <th style="text-align:center">Product Price</th>
                <th style="text-align:center">New Price</th>
                <th width="12%" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal" tabindex="-1" id="agreementModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Agreement</h5>
                <button type="button" class="close" onclick="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addAgreementForm">
                    <input type="hidden" id="id"/>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="group">Group </label>
                            <select name="productGroupId" id="productGroupId" asp-items="@ViewBag.ProductGroup" class="form-select" onchange="productData()"></select>
                            <label style="color:red" id="labelErrorGroup">Field are required!</label>
                        </div>
                        <div class="col-md-6">
                            <label for="product">Product </label>
                            <select name="productId" id="productId" asp-items="@ViewBag.Product" class="form-select"></select>
                            <label style="color:red" id="labelErrorProduct">Field are required!</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="effectiveDate">Effective Date </label>
                            <input type="date" name="effectiveDate" class="form-control" id="effectiveDate">
                            <label style="color:red" id="labelErrorEffectiveDate">Field are required!</label>
                        </div>
                        <div class="col-md-6">
                            <label for="expirationDate">Expiration Date </label>
                            <input type="date" name="expirationDate" class="form-control" id="expirationDate">
                            <label style="color:red" id="labelErrorExpirationDate">Field are required!</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="newPrice">New Price </label>
                            <input type="number" name="newPrice" class="form-control" id="newPrice" placeholder="0.00">
                            <label style="color:red" id="labelErrorNewPrice">Field are required!</label>
                        </div>
                        <div class="col-md-2 offset-2 form-check" style="text-align:center">
                            <label for="active">Active</label>
                            <input type="checkbox" value="" id="active" name="active">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="postAgreementValidation()" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" onclick="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="idAgreement" />
                <h4>Are you sure you want to delete ? </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="hideDeleteModal('deleteModal')">No</button>
                <button type="button" class="btn btn-primary" onclick="deleteAgreement()">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="toast" id="toastSuccesfulAdd" role="alert" aria-live="assertive" aria-atomic="true" style="background-color:lightgreen">
    <div class="toast-body">
        <strong>Successful addition of agreement!</strong>
    </div>
</div>
<div class="toast" id="toastErrorAdd" role="alert" aria-live="assertive" aria-atomic="true" style="background-color:orangered">
    <div class="toast-body">
        <strong>
            Error adding agreement!
        </strong>
    </div>
</div>
<script>
    $(function () {
        showToast("toastLogin");
        hideToast("toastSuccesfulAdd");
        hideToast("toastErrorAdd");
        setTimeout(hideToast("toastLogin"), 1000);
        initializationTable("agreementTable");
        productData();
        initializationTable("tableId");
    });

    function showModal() {
        $('#agreementModal').modal('show');
        document.getElementById("labelErrorProduct").style.display = "none";
        document.getElementById("labelErrorGroup").style.display = "none";
        document.getElementById("labelErrorEffectiveDate").style.display = "none";
        document.getElementById("labelErrorExpirationDate").style.display = "none";
        document.getElementById("labelErrorNewPrice").style.display = "none";

        document.getElementById("productGroupId").style.borderColor = "";
        document.getElementById("productId").style.borderColor = "";
        document.getElementById("effectiveDate").style.borderColor = "";
        document.getElementById("expirationDate").style.borderColor = "";
        document.getElementById("newPrice").style.borderColor = "";

    }

    function hideModal() {
        $('#agreementModal').modal('hide');
        document.getElementById('productGroupId').value = "";
        document.getElementById('productId').value = "";
        document.getElementById('effectiveDate').value = "";
        document.getElementById('expirationDate').value = "";
        document.getElementById('newPrice').value = "";
        document.getElementById('active').value = "";
    }

    function deleteModalAgreement(elem) {
        var currentRow = $(elem).closest("tr");
        var data = $('#agreementTable').DataTable().row(currentRow).data();
        var id = data['id'];
        $('#deleteModal').modal('show');
        document.getElementById('idAgreement').value = id;
    }

    function showToast(toast) {
        $('#' + toast).toast('show');
    }

    function hideToast(toast) {
        $('#' + toast).toast('hide');
    }

    function productData() {
        var groupProductId = document.getElementById('productGroupId').value;
        $.ajax({
            type: "GET",
            url: '/Agreement/ProductSelect',
            data: {
                id: groupProductId
            },
            dataType: "json",
            context: this,
            async: false,
            success: function (response) {
                $('#productId').find('option').remove().end()
                $.each(response, function (i, item) {
                    $('#productId').append($('<option>', {
                        value: item.id,
                        text: item.productDescription
                    }));
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function postAgreement() {
        var active = false;
        if (document.getElementById('active').checked == true) {
            var active = true;
        }
        $.ajax({
            type: 'POST',
            url: '/Agreement/AddAgreement',
            data: $("#addAgreementForm").serialize(),
            dataType: 'html',
            contentType: 'application/x-www-form-urlencoded; charset-UTF-8'
        })
            .done(function (response) {
                hideModal();
                if (response == "1") {
                    initializationTable("agreementTable");
                    showToast("toastSuccesfulAdd");
                }
                else {
                    showToast("toastErrorAdd");
                }
            })
            .fail(function (response) {
                console.log(response);
                showToast("toastSuccesfulAdd");
            })
    }

    function postAgreementValidation() {
        var group = document.getElementById('productGroupId').value;
        var product = document.getElementById('productId').value;
        var effectiveDate = document.getElementById('effectiveDate').value;
        var expirationDate = document.getElementById('expirationDate').value;
        var newPrice = document.getElementById('newPrice').value;
        if (group != "" && product != "" && effectiveDate != "" && expirationDate != "" && newPrice != "") {
            document.getElementById("newPrice").style.borderColor = "";
            document.getElementById("labelErrorNewPrice").style.display = "none";
            postAgreement();
        }
        else {
            if (group != "") {
                document.getElementById("productGroupId").style.borderColor = "";
                document.getElementById("labelErrorGroup").style.display = "none";
                if (product != "") {
                    document.getElementById("productId").style.borderColor = "";
                    document.getElementById("labelErrorProduct").style.display = "none";
                    if (effectiveDate != "") {
                        document.getElementById("effectiveDate").style.borderColor = "";
                        document.getElementById("labelErrorEffectiveDate").style.display = "none";
                        if (expirationDate != "") {
                            document.getElementById("expirationDate").style.borderColor = "";
                            document.getElementById("labelErrorExpirationDate").style.display = "none";
                            if (newPrice != "") {
                                document.getElementById("newPrice").style.borderColor = "";
                                document.getElementById("labelErrorNewPrice").style.display = "none";
                            }
                            else {
                                document.getElementById("newPrice").style.borderColor = "red";
                                document.getElementById("labelErrorNewPrice").style.display = "block";
                            }
                        } else {
                            document.getElementById("expirationDate").style.borderColor = "red";
                            document.getElementById("labelErrorExpirationDate").style.display = "block";
                        }
                    } else {
                        document.getElementById("effectiveDate").style.borderColor = "red";
                        document.getElementById("labelErrorEffectiveDate").style.display = "block";
                    }
                } else {
                    document.getElementById("productId").style.borderColor = "red";
                    document.getElementById("labelErrorProduct").style.display = "block";
                }
            } else {
                document.getElementById("productGroupId").style.borderColor = "red";
                document.getElementById("labelErrorGroup").style.display = "block";
            }
        }
    }

    function deleteAgreement() {
        var id = document.getElementById('idAgreement').value;
        $.ajax({
            type: "GET",
            url: '/Agreement/DeleteAgrement',
            data: {
                id: id
            },
            dataType: "json",
            context: this,
            async: false,
            success: function (response) {
                if (response == "1") {
                    hideDeleteModal("deleteModal");
                    initializationTable("agreementTable");
                }
            }
        });
    }

    function editAgreement(elem) {
        var currentRow = $(elem).closest("tr");
        var data = $('#agreementTable').DataTable().row(currentRow).data();
        var group = data['productGroupId'];
        var idAgreement = data['id'];
        var effectiveDate = data['effectiveDate'];
        var expirationDate = data['expirationDate'];
        var newPrice = data['newPrice'];
        var active = data['active'];
        document.getElementById('productGroupId').value = group;
        document.getElementById('id').value = idAgreement;
        productData();

        if (active == true) {
            document.getElementById('active').checked = true;
        }
        else {
            document.getElementById('active').checked = false;
        }
        document.getElementById('effectiveDate').value = moment(effectiveDate).format('YYYY-MM-DD');
        document.getElementById('expirationDate').value = moment(expirationDate).format('YYYY-MM-DD');
        document.getElementById('newPrice').value = newPrice;
        showModal();
    }
    function hideDeleteModal(id) {
        $('#' + id).modal('hide');
    }
</script>